#seo-wrapper {
    width: 100%;
}

#seo-wrapper h1 {
    text-align: center;
    font-size: 24px;
}


/*=============== DataTable ===============*/

#seo-wrapper #seo-table {
    border: 2px solid #777;
}

#seo-wrapper #seo-table tr th {
    text-align: left;
}

/*=============== Edit Form ===============*/
#seo-wrapper #edit-meta-info-form {
    width: 100%;
}

#seo-wrapper #edit-meta-info-form table {
    width: 100%;
}

#seo-wrapper #edit-meta-info-form table tr td:first-child {
    text-align: right;
    padding-right: 10px;
}

#seo-wrapper #edit-meta-info-form table tr td:last-child {
    text-align: left;
    padding-left: 5px;
    box-sizing: border-box;
}


#seo-wrapper #edit-meta-info-form table tr td input[type='text'] {
    width: 100%;
}